body {background: white;}
.container {text-align: center ;}

p,
.button {
	border: 2px solid black;
	width: 2in;
}

.input {
	height: 4in;
}

.input,
.output {
	border: 5px solid black;
	width: 90%;
	text-align:left;
	background: white;
	overflow: auto;
	position: relative;
}

.input,
.output,
p,
.button {
	outline: none;
	font-family: monospace;
	margin-left: auto ;
	margin-right: auto ;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-opera-border-radius:15px;
	-khtml-border-radius:15px;
	border-radius: 15px;
} 